.videoContainer{
    height: 80vh;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    -webkit-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 1);

    border-radius: 5px;
}

.videoContainer::-webkit-scrollbar{
    display: none;
}

.faAvatar{
    position: absolute;
    bottom: 9vh;
    left: 1vw;
    cursor: pointer;
    padding: 0 5px 0 7px;
}

.faAvatar h4{
    margin: 0;
    color: white;
    margin-top: 2%;
    margin-left: 2%;
    width: 100%;
}

.videos{
    position: relative;
}

/* .faAvatar:hover{
    background-color: #673ab7;
    border-radius: 20px;
} */


.likeAndComment{
    position: absolute;
    bottom: 4vh;
    left: 1vw;
    cursor: pointer;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.likeIcon{
    color: white;
}
.commentIcon{
    color: white;
}

.like{
    color: red;
}
/* .likeIcon{
    position: absolute;
    bottom: 4vh;
    left: 2vw;
    cursor: pointer;
    padding: 0 5px 0 7px;
}

.commentIcon{
    position: absolute;
    bottom: 4vh;
    left: 4vw;
    cursor: pointer;
    padding: 0 5px 0 7px;
    color: white;
} */

.modalContainer{
    display: flex;
    width: 100%;
    height: 100%;
}

.videoContainer1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.modalVedio{
    height: 100%;
    width: 100%;
    background-color: black;
}

.modalVedio video{
    height: 85vh;
    width: 100%;
    overflow: hidden;
}

.commentContainer{
    width: 50%;
    height: 100%;
}

.commentContainer .likeIcon{
    color: black;
}
.like-comment-more-container > * {
    cursor: pointer;
}

.card1::-webkit-scrollbar {
    display: none;
}