.signUpWarapper{
    display: flex;
    justify-content: center;
}

.signUpCard{
    width: 30vw;
    margin-top: 3%;
}

.reelworld-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}
.reelworld-logo img{
    width: 75%;
    height: 75%;
    object-fit: cover;
}

.termsAndConditionsBlock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 620px){
    .signUpCard{
        width: 60%;
    }
}